version: '3.8'
services:
  postgres:
    container_name: nestjs-enterprise-app-postgres
    image: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: nestjs_enterprise_app
      PGDATA: /data/postgres
    volumes:
      - ./data/pg:/data/postgres
